#login {
    background-image: url('../../assets/background-login.jpg'); 
    background-size: cover;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

.login-title {
    margin-top: 10%;
    margin-bottom: 20%;
}

.login-card {
    max-height: 40em;
    padding: 42px;
    display: grid; /* Esto está bien si deseas usar grid para el contenido de la tarjeta */
}