body{
    background-image: url('../../assets/background-login.jpg'); 
    background-size: cover;
}

.login-title{
    margin-top: 10%;
    margin-bottom: 20%;
}

.login-card{
    max-height: 40em;
    padding: 42px;
    display: grid;
}

.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
